
body {
    font-family: 'Bitter', serif;
    margin: 0 0 75px;
    padding: 0;
    background: url('/images/bg.jpg') top no-repeat;
    background-size: cover;
    background-attachment: fixed
}

.gridStyle {
    background: #fffffc;
    margin-top: 25px;
    border-radius: 6px 6px 0 0;
}

h4 {
    opacity: 0.7;
}

.pad-25-top {
    padding-top: 25px;
}