
body {
    font-family: 'Bitter', serif;
    margin: 0 0 75px;
    padding: 0;
    background: url('/images/bg.jpg') top no-repeat;
    background-size: cover;
    background-attachment: fixed
}

.gridStyle {
    background: #fffffc;
    margin-top: 25px;
    border-radius: 6px 6px 0 0;
}

h4 {
    opacity: 0.7;
}

.pad-25-top {
    padding-top: 25px;
}

.pad-50-top {
    padding-top: 50px;
}

.pad-15-left {
    padding-left: 15px;
}

/*form validation*/
.container {
    max-width: 960px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }

.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.responsive {
    max-width: 100%;
    height: auto;
}

footer {
    margin-top: -15px;
    background: rgba(41, 41, 41);
    color: #8c7e73;
    width: 100%;
}